* {
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(8, 98, 8);
    --secondary-color: rgb(46, 200, 108);
    --sidebar-hover: rgba(34, 165, 34, 0.408);
    --circle: 50%;
}

:root.togepi {
    --main-color:rgb(116, 105, 26);
    --secondary-color: rgb(240, 207, 90);
    --sidebar-hover: rgba(204, 187, 57, 0.388);
}

:root.vulpix {
    --main-color: rgb(30, 79, 147);
    --secondary-color: rgb(95, 219, 232);
    --sidebar-hover: rgb(146, 209, 231);
}

.flex {
    display: flex;
    gap: 10px;
}

.flex-ali {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

body{
     font-family: "Ubuntu";
}

#title{
    color: white;
    font-size: 40px
}

header{
    background-color: var(--secondary-color);
    padding: 10px;
    justify-content: space-between;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 6px 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 1vh;
}

.left-header{
    margin-left: 2%;
}

.left-header img {
    width: 80px;
    height: 80px;
    border-radius: var(--circle);
    object-fit: cover;
}

.right-header {
    margin-right: 2%;
}

.right-header button {
    width: 75px;
    height: 50px;
    background-size: cover;
    background-position: center;
    opacity: 0.7;
    filter: grayscale(0.7);
}

.right-header button:hover {
    opacity: 1;
    filter: grayscale(0);
}

.right-header button.hidden {
    visibility: hidden;
}

#rowlet {
    background-image: url("./img/rowletBtn.jpg");
}

#togepi {
    background-image: url("./img/togepiBtn.jpg");
}

#vulpix {
    background-image: url("./img/vulpixBtn.jpg");
}
/*DIALOG SECTION*/
dialog {
    margin: 10% auto;
    width: max(40%, 400px);
    height: 350px;
    padding: 30px;
}

#select-priority {
    width: auto;
}


dialog hr {
    margin-bottom: 5px;
}

form {
    position: relative;
    height: 75%;
    width: 100%;
}

form input, textarea, select, label {
  font-family: inherit;
  font-size: 20px;
  width: 100%;
  padding: 5px;
  appearance: none;
  border: none;
  outline: none;
}

#due-date {
    border: 2px solid black;
    width: 50%;
}

form input::placeholder {
    text-transform: uppercase;
    font-weight: bold;
    font-family: inherit;
}

.select {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
}

#select-priority {
    outline:auto;
}

textarea {
    resize: none;
    height: 60px;
}

dialog h1 {
    color: var(--main-color);
}

.buttons {
    position: absolute;
    bottom: -2px;
    right: 0px;
    display: flex;
    gap: 20px;
}

button {
    font-family: inherit;
    font-weight: bold;
    padding: 5px;
    transition: 0.3s;
    background-color: transparent;
    border: 2px solid black;
    font-size: 15px;
    border-radius: 5px;
}

.buttons button:hover {
    transform: scale(1.2);
    color: white;
    background-color: var(--secondary-color);
}


/*SIDEBAR SECTION*/

.sidebar {
    width: 350px;
    height: 89vh;
    background-color: rgb(240, 233, 233);
    border-right: 3px solid rgb(4, 34, 19);
    padding: 20px;
    gap: 50px;
    overflow-y:auto;
}

.sidebar.hide {
    width: 0px;
    padding: 0px;
    border: none;
    overflow: hidden;
}

button, svg, .sidebar-tab {
    cursor: pointer;
}

.main-content button {
    margin-top: 2px;
    background-color: transparent;
    border: none;
}

.add {
    border: none;
}

.add:hover svg, .delete-todo:hover svg, .delete-project:hover svg{
    rotate: 180deg;
}

svg {
    width: 30px;
    transition: 1s;
}

.sidebar-tab svg {
    fill: var(--main-color);
}

.sidebar-tab {
    padding: 10px;
    transition: 0.3s;
    position: relative;
}

.delete-project {
    position: absolute;
    right: 10px;
}

.delete-project svg {
    visibility: none;
    opacity: 0;
    transition: 0.3s;
}

.sidebar-tab:hover button svg {
    fill: red;
    visibility: visible;
    opacity: 1;
}


.sidebar-tab:hover, .sidebar-tab.current {
    background-color: var(--sidebar-hover);
    border-radius: 10px;
}

/*MAIN CONTENT*/

.main-content {
    display: grid;
    grid-template-columns: auto repeat(4,1fr);
    grid-template-areas:
    "sidebar todo todo todo todo";
}

.sidebar {
    grid-area: sidebar;
}

.display-todos {
    grid-area: todo;
}

/*TODOS SECTION*/

.project-heading, .todo {
    width: 75%;
    padding: 10px;
    justify-content: space-between;
    margin-top: 2px;
}

#amount-todo {
    background-color: rgba(232, 231, 231, 0.992);
    width: 40px;
    height: 40px;
    border-radius: var(--circle);
    color: var(--main-color);
    display: grid;
    place-items: center;
}


.add-todo-section {
    gap: 0px;
}

.priority {
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
    border-radius: 5px;
    color: white;
}

.display-todos, .todos {
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
}

.todos {
    width: 100%;
}

.todo .check {
    width: 30px;
    height: 30px;
    border-radius: var(--circle);
    border: 1px solid black;
}

.todo .check.checked {
    background-color: var(--main-color);
}

.todo {
    border-bottom: 1px solid black;
}

.todo-right svg {
    fill: var(--icon-color);
}

.edit-todo {
    --icon-color: var(--secondary-color);
}

.delete-todo {
    --icon-color: red;
}


